{% extends "forum/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ banner }} - Edit Profile{% endblock %}
{% block banner %}
    {% if banner.banner_image %}
        <img class="banner-image" src="{{ banner.banner_image.url }}">
    {% else %}
        <h1 class="banner-text">{{ banner }}</h1>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <h5 class="mt-3 mb-0 p-2 rounded top-row">Edit Profile</h5>
        <div class="px-4 pt-3 lightblue">
            <form action="{% url 'forum:edit_profile' %}", method="POST", enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <input class="col-md-1 my-3 btn btn-sm btn-primary save-profile-button" type="submit" value="Save Profile">
            </form>
        </div>
    </div>
{% endblock %}
