{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
        <link href="{% static 'main/styles.css' %}" rel="stylesheet"/>
        <link rel="icon" href="/media/main_page_images/LK.png">
        <script src="{% static 'main/index.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark fixed-top portfolio-nav">
            <div class="container">
                <a href="{% anchor 'main:portfolio' 'header' %}" class="navbar-brand portfolio-nav-link">LK</a>
                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="{% anchor 'main:portfolio' 'projects' %}" class="nav-link portfolio-nav-link">Recent Work</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% anchor 'main:portfolio' 'about' %}" class="nav-link portfolio-nav-link">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% anchor 'main:portfolio' 'contact' %}" class="nav-link portfolio-nav-link">Contact</a>
                        </li>
                    </ul>    
                </div>
            </div>
        </nav>
            
        <div class="main-body">
            {% block html %}
            {% endblock %}
            <div class="container">
                {% block mainbody %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>